<div mat-dialog-title>
    <span i18n>{{isEditing ? 'Modifying Alert Profile' : 'Creating Alert Profile'}}</span>
    <span> #{{ data ? data.id : ''}}</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>
<div mat-dialog-content>
    <form class="">
        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Name" [(ngModel)]="alertProfile.name" name="name of alert-profile">
                </mat-form-field>
            </div>
            <div fxFlex="50" fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Type">
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="flex-middle">
                    <mat-slide-toggle [checked]="alertProfile.active">Active/Inactive</mat-slide-toggle>
                </div>
            </div>
        </div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Description">
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="25">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Speed KPH">
                </mat-form-field>
            </div>
            <div fxFlex="25">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Zone ID">
                </mat-form-field>
            </div>
            <div fxFlex="25">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Param1">
                </mat-form-field>
            </div>
            <div fxFlex="25">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Param2">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <weekday type="short"></weekday>
            </div>
            <div fxFlex="50">
                <daytime></daytime>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Notify Email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email Subject">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Email Text">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Email Template">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Notify SMS">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="SMS Text">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Send Command">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Action" value="http://">
                </mat-form-field>

            </div>
        </div>

    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-flat-button (click)="save()" i18n>Save</button>
    <button mat-button mat-dialog-close i18n>Cancel</button>
</div>