<div mat-dialog-title>
    <span i18n>{{isEditing ? 'Modifying Alert Profile' : 'Creating Alert Profile'}}</span>
    <span> #{{ data ? data.id : ''}}</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>
<div mat-dialog-content>
    <form class="">
        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <!--input type="text" matInput
                           i18n-placeholder
                           placeholder="Type"
                           aria-label="Type of alert"
                           required
                           [(ngModel)]="data.type" name="Type of alert"-->
                    <mat-select i18n-placeholder
                                placeholder="Type"
                                aria-label="Type of alert"
                                required
                                [(ngModel)]="data.type"
                                name="Type of alert">
                        <mat-option *ngFor="let type of types" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="50" class="flex-center">
                <mat-slide-toggle [(ngModel)]="data.active"
                                  name="Active">Active/Inactive</mat-slide-toggle>
            </div>
            <div fxFlex="50" class="flex-center">
                <mat-checkbox [(ngModel)]="data.publicInCompany"
                              name="checked if this alert avail for other in the company">Public in company</mat-checkbox>
            </div>

        </div>
        <mat-form-field class="full-width">
            <input type="text" matInput
                   i18n-placeholder
                   placeholder="Name"
                   aria-label="Nam Of Alert"
                   [(ngModel)]="data.name"
                   required
                   name="name of alert-profile">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput
                   i18n-placeholder
                   placeholder="Description"
                   aria-label="Alert Description"
                   [(ngModel)]="data.description" name="Description of alert">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-select [multiple]="true"
                        i18n-placeholder
                        [(ngModel)]="data.contactIds"
                        required
                        name="List of contacts"
                        placeholder="Contacts to receive Alerts"
                        aria-label="Contacts to receive alerts">
                <mat-option *ngFor="let contact of contactList | async"
                            [value]="contact.id">
                    {{contact.name}}
                </mat-option>
            </mat-select>
            <button mat-icon-button matSuffix (click)="dialogToAddContact($event)">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="25">
                <mat-form-field class="full-width">
                    <input type="text" matInput
                           i18n-placeholder
                           placeholder="Speed KPH"
                           aria-label="Speed KPH"
                           [(ngModel)]="data.speedKph"
                           name="Speed KPH">
                </mat-form-field>
            </div>
            <div fxFlex="25">
                <mat-form-field class="full-width">
                    <input type="text" matInput
                           i18n-placeholder
                           placeholder="Zone ID"
                           aria-label="Geozone ID"
                           [(ngModel)]="data.zoneId"
                           name="Geozone ID">
                </mat-form-field>
            </div>
            <div fxFlex="25">
                <mat-form-field class="full-width">
                    <input type="text" matInput
                           i18n-placeholder
                           placeholder="Param1"
                           aria-label="Param 1"
                           [(ngModel)]="data.params1"
                           name="Param1">
                </mat-form-field>
            </div>
            <div fxFlex="25">
                <mat-form-field class="full-width">
                    <input type="text" matInput
                           i18n-placeholder
                           placeholder="Param2"
                           aria-label="Param2"
                           [(ngModel)]="data.params2"
                           name="Param2">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <weekday type="short"></weekday>
            </div>
            <div fxFlex="50">
                <daytime></daytime>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50" class="flex-center">
                <mat-checkbox [(ngModel)]="data.alertEmail"
                    name="ALert to email">Alert to email</mat-checkbox>
            </div>
            <div fxFlex="50" class="flex-center">
                <mat-checkbox [(ngModel)]="data.alertSms"
                              name="ALert to sms">Alert to Sms</mat-checkbox>
            </div>
            <div fxFlex="50" class="flex-center">
                <mat-checkbox [(ngModel)]="data.alertApp"
                              name="ALert to app">Alert to App</mat-checkbox>
            </div>
        </div>

        <mat-form-field class="full-width">
            <input type="text" matInput
                   i18n-placeholder
                   placeholder="Action"
                   aria-label="External Actions"
                   name="external action"
                   [(ngModel)]="data.cannedAction">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input type="text" matInput
                   i18n-placeholder
                   placeholder="Subject"
                   aria-label="Subject of message"
                   name="Subject of message"
                   [(ngModel)]="data.subject">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput
                   i18n-placeholder
                   placeholder="Text"
                   aria-label="Text of message"
                   name="Text of message"
                   [(ngModel)]="data.text">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput
                   i18n-placeholder
                   placeholder="TemplateId"
                   aria-label="Template of message"
                   name="Template of message"
                   [(ngModel)]="data.templateId">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-flat-button (click)="onSave()" i18n>Save</button>
    <button mat-button mat-dialog-close i18n>Cancel</button>
</div>
