<div *ngIf="isLoading" class="page-center">
    <span>
        <mat-progress-spinner
                class="center"
                mode="indeterminate"
                color="primary">
        </mat-progress-spinner>
    </span>
</div>
<mat-sidenav-container class="side-nav-container">
    <mat-sidenav mode="side" opened="true" align="end">
        <div class="map-device-table">
            <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Device ID </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="selectThisDevice(element)">{{element.deviceId}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns" style="display: none"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{selected: row.selected}"></mat-row>
            </mat-table>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="sidenav-content">
            <div id="map-id" class="main-map"></div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
