$side-nav-width: 250px;
@mixin map-component($theme) {
  .main-map {
    height:100%;
  }

  .side-nav-container {
    height: 100%;
  }
  .sidenav-content {
    height: 100%;
  }
  .side-nav-container mat-sidenav {
    overflow-y: hidden;
    //overflow-x: hidden;
    min-width: $side-nav-width;
    max-width: $side-nav-width;
    display: flex;
    flex-direction: column;
  }

  .map-device-table {
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #9b9b9b;
    }
  }
  .chart-overview {
    min-height: $side-nav-width;
    max-height: $side-nav-width;
    min-width: $side-nav-width;
    max-width: $side-nav-width;
  }

  .map-device-status {
    width: 10px;
    height: 100%;
    background-color: red;
  }

  //Override css mapping
  .marker-label {
    padding: 0!important;
    &:before {
      content: none!important;
    }
  }
  .popup-title {
    font-weight: 600;
  }

}
