<div matDialogTitle>
    <span *ngIf="isEditing" i18n>Modifying Account</span>
    <span *ngIf="!isEditing" i18n>Creating Account</span>
    <span> #{{data.accountId}}</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>

<div mat-dialog-content>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Account ID" name="acc-account-id" [(ngModel)]="data.accountId" required [disabled]="isEditing">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <!--<mat-form-field class="full-width">-->
                    <!--<input matInput i18n-placeholder placeholder="Status" name="acc-status" [(ngModel)]="data.status">-->
                <!--</mat-form-field>-->

                <mat-form-field class="full-width">
                    <input type="text"  placeholder="Status" aria-label="Status" [(ngModel)]="data.status" matInput [formControl]="statusControl" [matAutocomplete]="autoStatus">
                    <mat-autocomplete #autoStatus="matAutocomplete">
                        <mat-option *ngFor="let status of filteredStatus | async" [value]="status">
                            {{status}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input type="password" matInput i18n-placeholder placeholder="Password" name="acc-password" [(ngModel)]="password">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input type="password" matInput i18n-placeholder placeholder="Re-type Password" name="acc-re-password" [(ngModel)]="re_password">
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="First Name" name="acc-first-name" [(ngModel)]="data.firstName">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Last Name" name="acc-last-name" [(ngModel)]="data.lastName">
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="80">
                <mat-form-field class="full-width">
                    <input type="text"  placeholder="Company" aria-label="Company" [(ngModel)]="data.company" matInput [formControl]="companyControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let company of filteredCompanies | async" [value]="company">
                            {{company.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxFlex="20">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Company ID" name="dev-company-id" [(ngModel)]="data.company.id" disabled>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="full-width">
            <mat-select multiple matInput placeholder="Roles" [(ngModel)]="privilegeIds">
                <mat-option *ngFor="let pri of privilegeList | async" [value]="pri.id">{{pri.description}}</mat-option>
            </mat-select>
        </mat-form-field>



        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Phone Number" name="acc-phone-number" [(ngModel)]="data.phoneNumber">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Email Address" name="acc-email-address" [(ngModel)]="data.emailAddress" required>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Address Line1" name="acc-address-line1" [(ngModel)]="data.addressLine1">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Address Line2" name="acc-address-line2" [(ngModel)]="data.addressLine2">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Notes" name="acc-notes" [(ngModel)]="data.notes">
        </mat-form-field>

    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onSave()" i18n>Save</button>
    <button mat-button (click)="cancel()" i18n>Cancel</button>
</div>
