<md-card class="content-card">
    <md-card-title>
        <span i18n>Permissions</span>
        <button md-icon-button mdTooltip="Default permissions">
            <md-icon>content_copy</md-icon>
        </button>
    </md-card-title>
    <md-card-content>
        <div fxLayout="row" fxLayout.sm="column">
            <md-list>
                <!--Mapping-->
                <md-list-item>
                    <md-icon md-list-icon>dashboard</md-icon>
                    <h4 md-line>Live Monitoring</h4>
                    <md-button-toggle-group [(ngModel)]="permMapLive" name="map-live" [disabled]="!is_edit">
                        <md-button-toggle value="0">None</md-button-toggle>
                        <md-button-toggle value="1">Read</md-button-toggle>
                    </md-button-toggle-group>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>history</md-icon>
                    <h4 md-line>Historical Data</h4>
                    <md-button-toggle-group [(ngModel)]="permMapHistory" name="map-his" [disabled]="!is_edit">
                        <md-button-toggle value="0">None</md-button-toggle>
                        <md-button-toggle value="1">Read</md-button-toggle>
                    </md-button-toggle-group>
                </md-list-item>
                <!--Reporting-->
                <md-list-item>
                    <md-icon md-list-icon>report</md-icon>
                    <h4 md-line>Summary Report</h4>
                    <md-button-toggle-group [(ngModel)]="permReportSummary" name="report-sum" [disabled]="!is_edit">
                        <md-button-toggle value="0">None</md-button-toggle>
                        <md-button-toggle value="1">Read</md-button-toggle>
                    </md-button-toggle-group>

                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>folder</md-icon>
                    <h4 md-line>Speeding Report</h4>
                    <md-button-toggle-group [(ngModel)]="permReportSpeeding" name="report-speed" [disabled]="!is_edit">
                        <md-button-toggle value="0">None</md-button-toggle>
                        <md-button-toggle value="1">Read</md-button-toggle>
                    </md-button-toggle-group>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>local_parking</md-icon>
                    <h4 md-line>Parking Report</h4>
                    <md-button-toggle-group [(ngModel)]="permReportParking" name="report-park" [disabled]="!is_edit">
                        <md-button-toggle value="0">None</md-button-toggle>
                        <md-button-toggle value="1">Read</md-button-toggle>
                    </md-button-toggle-group>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>folder</md-icon>
                    <h4 md-line>Geozone Report</h4>
                    <md-button-toggle-group [(ngModel)]="permReportGeozone" name="report-geozone" [disabled]="!is_edit">
                        <md-button-toggle value="0">None</md-button-toggle>
                        <md-button-toggle value="1">Read</md-button-toggle>
                    </md-button-toggle-group>
                </md-list-item>
            </md-list>
            <md-list>
                <!--Administration-->
                <md-list-item>
                    <md-icon md-list-icon>supervisor_account</md-icon>
                    <h4 md-line>Accounts</h4>
                    <perm [value]="permAccount" (change)="permAccountChanged($event)" [name]="pageAccount" [disabled]="!is_edit"></perm>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>perm_identity</md-icon>
                    <h4 md-line>Roles</h4>
                    <perm [value]="permRole" (change)="permRoleChange($event)" [name]="pageRole" [disabled]="!is_edit"></perm>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>perm_device_information</md-icon>
                    <h4 md-line>Devices</h4>
                    <perm [value]="permDevice" (change)="permRoleChange($event)" [name]="pageDevice" [disabled]="!is_edit"></perm>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>error</md-icon>
                    <h4 md-line>Alerts</h4>
                    <perm [value]="permAlert" (change)="permRoleChange($event)" [name]="pageAlert" [disabled]="!is_edit"></perm>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>place</md-icon>
                    <h4 md-line>Geozones</h4>
                    <perm [value]="permGeozone" (change)="permRoleChange($event)" [name]="pageGeozone" [disabled]="!is_edit"></perm>
                </md-list-item>
            </md-list>
        </div>
    </md-card-content>
</md-card>
