<div matDialogTitle>
    <span i18n>Select columns to show</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item>
            <span matLine i18n>ID</span>
            <mat-checkbox [(ngModel)]="data.id.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Account ID</span>
            <mat-checkbox [(ngModel)]="data.accountId.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>First Name</span>
            <mat-checkbox [(ngModel)]="data.firstName.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Last Name</span>
            <mat-checkbox [(ngModel)]="data.lastName.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Status</span>
            <mat-checkbox [(ngModel)]="data.status.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Organization ID</span>
            <mat-checkbox [(ngModel)]="data.organizationId.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Organization Name</span>
            <mat-checkbox [(ngModel)]="data.organizationName.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Phone Number</span>
            <mat-checkbox [(ngModel)]="data.phoneNumber.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Photo Url</span>
            <mat-checkbox [(ngModel)]="data.photoUrl.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Email Address</span>
            <mat-checkbox [(ngModel)]="data.emailAddress.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Address Line1</span>
            <mat-checkbox [(ngModel)]="data.addressLine1.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Address Line2</span>
            <mat-checkbox [(ngModel)]="data.addressLine2.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Notes</span>
            <mat-checkbox [(ngModel)]="data.notes.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Roles</span>
            <mat-checkbox [(ngModel)]="data.roles.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Created By</span>
            <mat-checkbox [(ngModel)]="data.createdBy.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Created On</span>
            <mat-checkbox [(ngModel)]="data.createdOn.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Updated By</span>
            <mat-checkbox [(ngModel)]="data.updatedBy.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Updated On</span>
            <mat-checkbox [(ngModel)]="data.updatedOn.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Actions</span>
            <mat-checkbox [(ngModel)]="data.actions.selected"></mat-checkbox>
        </mat-list-item>
    </mat-list>

</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onSave()" i18n>Save</button>
    <button mat-button (click)="cancel()" i18n>Cancel</button>
</div>
