<mat-toolbar color="primary">

</mat-toolbar>
<div class="flex-center">
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-card class="page-home">
            <mat-card-content>
                <p>GpsHandle is the best gps-software</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button routerLink="/login">Login</button>
            </mat-card-actions>
        </mat-card>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="30">
                Full features
            </div>

            <div fxFlex="30">
                Offers Plans
            </div>

            <div fxFlex="30">
                Technologies
            </div>
        </div>
    </div>

</div>
