.page-history {
  height: 100%;

  .main-map {
    height: 100%;
  }

  .history-details {
    overflow-y: auto;
    height: 100%;
  }

  .history-table {
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #eeeeee;
    }

  }
  .mat-header-row {
    position: sticky;
  }

  #parent-div {
    height: calc(100% - 10px); /** output container is small for display */
    width: 100%;
    display: block;
    //border: 1px solid red;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }


  .axis--x path {
    /*display: none;*/
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

}
