.page-history {
  height: 100%;

  .main-map {
    height: 100%;
  }

  .history-details {
    overflow-y: auto;
    height: 100%;
  }

  .history-table {
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #eeeeee;
    }

  }
  .mat-header-row {
    position: sticky;
  }
}
