<!--Toolbar-->
<mat-toolbar>
    <button mat-button (click)="back()">
        <mat-icon>back</mat-icon>
        <span>Back</span>
    </button>
    <span class="fill-remain-space"></span>
    <button mat-raised-button color="primary" (click)="saveNewRole()">
        <mat-icon>save</mat-icon>
        <span>Save</span>
    </button>
    <button mat-raised-button class="toolbar-button" (click)="cancelNewRole()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</mat-toolbar>

<!--Content-->
<div fxLayout="column" fxLayout.sm="column">
    <mat-card class="content-card">
        <mat-card-title>
            <span i18n>Add New Role</span>
            <button mat-icon-button matTooltip="Default permissions">
                <mat-icon>content_copy</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <form>
                <div fxLayout="column">
                    <table class="full-width">
                        <tr>
                            <td>
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Role Name" [(ngModel)]="newRole.displayName" name="role-name" required>
                                </mat-form-field>
                            </td>
                            <td>
                                <table  class="full-width">
                                    <tr>
                                        <td>
                                            <mat-checkbox [(ngModel)]="newRole.default" name="role-default">Is Default</mat-checkbox>
                                        </td>
                                        <td>
                                            <mat-checkbox [disabled]="!isAdministrator" [(ngModel)]="newRole.global" name="role-scope">Is Global</mat-checkbox>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>


                    <table width="100%">
                        <tr>
                            <td>
                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Description" [(ngModel)]="newRole.description" name="description"></textarea>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Notes" [(ngModel)]="newRole.notes" name="notes"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <perm-basic
                [is_edit]="true"
                [permMapLive]="perm_map_live"
                [permMapHistory]="perm_map_history"
                [permReportSummary]="perm_report_summary"
                [permReportSpeeding]="perm_report_speeding"
                [permReportParking]="perm_report_parking"
                [permReportGeozone]="perm_report_geozone"
                [permAccount]="perm_account"
                [permRole]="perm_role"
                [permDevice]="perm_device"
                [permAlert]="perm_alert"
                [permGeozone]="perm_geozone"
                (change)="permChange($event)"></perm-basic>
    <!--Permissions details for account-->
    <perm-account *ngIf="perm_account>3"
                  [is_edit]="true"
                  [account_acl]="newRoleAcl.fields.account"
                  (change)="permItemAccountChange($event)"></perm-account>
    <!--Todo: later change-->
    <perm-device *ngIf="perm_device>3"></perm-device>

    <div *ngIf="showContent==3"> <!--Page.device permission details-->

    </div>
    <div *ngIf="showContent==4"> <!--Page.alert permission details-->

    </div>
    <div *ngIf="showContent==5"> <!--Page.geozone permission details-->

    </div>
</div>
