<mat-toolbar>
    <button mat-button (click)="back()">
        <mat-icon>back</mat-icon>
        <span i18n>Back</span>
    </button>
    <span class="fill-remain-space"></span>
    <button mat-raised-button color="primary" (click)="addNewAccount()">
        <mat-icon>save</mat-icon>
        <span i18n>Save</span>
    </button>
    <button mat-raised-button class="add-account-component-button-cancel" (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span i18n>Cancel</span>
    </button>
</mat-toolbar>

<div fxLayout="column">
    <form *ngIf="account">
        <mat-card class="content-card">
            <mat-card-title-group>
                <mat-card-title>
                    <span i18n>#{{account.accountID}}</span>
                </mat-card-title>
                <mat-card-subtitle>{{errorMessage}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <mat-form-field class="input-item">
                    <input matInput name ="accountId" i18n-placeholder placeholder="Account ID" [(ngModel)]="account.accountID" required>
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="displayName" i18n-placeholder placeholder="Display Name" [(ngModel)]="account.displayName">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="description" i18n-placeholder placeholder="Description" [(ngModel)]="account.description">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="isActive" i18n-placeholder placeholder="Is Active" [(ngModel)]="account.isActive">
                </mat-form-field>

                <mat-form-field class="input-item">
                    <input matInput [matDatepicker]="expirationTimePicker" name="expirationTime" i18n-placeholder placeholder="Expiration Time" [(ngModel)]="account.expirationTime">
                    <button matSuffix [matDatepickerToggle]="expirationTimePicker"></button>
                </mat-form-field>
                <mat-datepicker #expirationTimePicker></mat-datepicker>

                <mat-form-field class="input-item">
                    <input matInput name="contactName" i18n-placeholder placeholder="Contact Name" [(ngModel)]="account.contactName">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="contactPhone" i18n-placeholder placeholder="Contact Phone" [(ngModel)]="account.contactPhone">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="contactEmail" i18n-placeholder placeholder="Contact Email" [(ngModel)]="account.contactEmail" required>
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="notifyEmail" i18n-placeholder placeholder="Notify Email" [(ngModel)]="account.notifyEmail">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="timeZone" i18n-placeholder placeholder="TimeZone" [(ngModel)]="account.timeZone">
                </mat-form-field>

                <mat-form-field class="input-item">
                    <input matInput name="notes" i18n-placeholder placeholder="Notes" [(ngModel)]="account.notes">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="addressLine1" i18n-placeholder placeholder="Address Line 1" [(ngModel)]="account.addressLine1">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="addressLine2" i18n-placeholder placeholder="Address Line 2" [(ngModel)]="account.addressLine2">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="addressLine3" i18n-placeholder placeholder="Address Line 3" [(ngModel)]="account.addressLine3">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="addressCity" i18n-placeholder placeholder="Address City" [(ngModel)]="account.addressCity">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="addressState" i18n-placeholder placeholder="Address State" [(ngModel)]="account.addressState">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="addressPostalCode" i18n-placeholder placeholder="Address Postal Code" [(ngModel)]="account.addressPostalCode">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="addressCountry" i18n-placeholder placeholder="Address Country" [(ngModel)]="account.addressCountry">
                </mat-form-field>
                <mat-select i18n-placeholder placeholder="Role" [(ngModel)]="account.roleID" name="role" class="input-item">
                    <mat-option *ngFor="let role of roleList" [value]="role.roleID">{{role.displayName}}</mat-option>
                </mat-select>
                <mat-form-field class="input-item">
                    <input matInput name="roleID" i18n-placeholder placeholder="Role ID" [(ngModel)]="account.roleID" disabled>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <!--*-->
        <mat-card class="view-information left">
            <mat-card-content>
                <mat-form-field class="input-item">
                    <input matInput name="speedUnits" i18n-placeholder placeholder="Speed Units" [(ngModel)]="account.speedUnits">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="distanceUnits" i18n-placeholder placeholder="Distance Units" [(ngModel)]="account.distanceUnits">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="volumeUnits" i18n-placeholder placeholder="Volume Units" [(ngModel)]="account.volumeUnits">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="pressureUnits" i18n-placeholder placeholder="Pressure Units" [(ngModel)]="account.pressureUnits">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="economyUnits" i18n-placeholder placeholder="Economy Units" [(ngModel)]="account.economyUnits">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="temperatureUnits" i18n-placeholder placeholder="Temperature Units" [(ngModel)]="account.temperatureUnits">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="currencyUnits" i18n-placeholder placeholder="Currency Units" [(ngModel)]="account.currencyUnits">
                </mat-form-field>
            </mat-card-content>
        </mat-card>


        <mat-card class="view-information left">
            <mat-card-content>

                <mat-form-field class="input-item">
                    <input matInput name="retainedEventAge" i18n-placeholder placeholder="Retained Event Age" [(ngModel)]="account.retainedEventAge">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="maximumDevices" i18n-placeholder placeholder="Maximum Devices" [(ngModel)]="account.maximumDevices">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="totalPingCount" i18n-placeholder placeholder="Total Ping Count" [(ngModel)]="account.totalPingCount">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="maxPingCount" i18n-placeholder placeholder="Max Ping Count" [(ngModel)]="account.maxPingCount">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="autoAddDevices" i18n-placeholder placeholder="Auto Add Devices" [(ngModel)]="account.autoAddDevices">
                </mat-form-field>

                <mat-form-field class="input-item">
                    <input matInput name="mapLegendDevice" i18n-placeholder placeholder="Map Legend Device" [(ngModel)]="account.mapLegendDevice">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="mapLegendGroup" i18n-placeholder placeholder="Map Legend Group" [(ngModel)]="account.mapLegendGroup">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="isAccountManager" i18n-placeholder placeholder="Is Account Manager" [(ngModel)]="account.isAccountManager">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="managerID" i18n-placeholder placeholder="Manager ID" [(ngModel)]="account.managerID">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="dataPushURL" i18n-placeholder placeholder="Data Push URL" [(ngModel)]="account.dataPushURL">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="smsEnabled" i18n-placeholder placeholder="SMS Enabled" [(ngModel)]="account.smsEnabled">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="smsProperties" i18n-placeholder placeholder="SMS Properties" [(ngModel)]="account.smsProperties">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="emailProperties" i18n-placeholder placeholder="Email Properties" [(ngModel)]="account.emailProperties">
                </mat-form-field>
                <mat-form-field class="input-item">
                    <input matInput name="allowNotify" i18n-placeholder placeholder="Allow Notify" [(ngModel)]="account.allowNotify">
                </mat-form-field>

                <mat-form-field class="input-item">
                    <input matInput name="fuelCostPerLiter" i18n-placeholder placeholder="Fuel Cost Per Liter" [(ngModel)]="account.fuelCostPerLiter">
                </mat-form-field>

                <mat-form-field class="input-item">
                    <input matInput name="allowWebService" i18n-placeholder placeholder="Allow Web Service" [(ngModel)]="account.allowWebService">
                </mat-form-field>

            </mat-card-content>
        </mat-card>
    </form>

    <div *ngIf="accountAcl.pages">
        <mat-card class="view-information right">
            <mat-card-content>
                <mat-list>
                    <!--Mapping-->
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Live Monitoring</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['map:live']" name="map-live">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Historical Data</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['map:history']" name="map-his">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-list-item>
                    <!--Reporting-->
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Summary Report</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['report:summary']" name="report-sum">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                        </mat-button-toggle-group>

                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Speeding Report</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['report:speeding']" name="report-speed">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Parking Report</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['report:parking']" name="report-park">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Geozone Report</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['report:geozone']" name="report-geozone">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="view-information right">
            <mat-card-title>
                Administration ACLs
            </mat-card-title>
            <mat-card-content>
                <mat-list>
                    <!--Administration-->
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Accounts</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['admin:account']" name="page-account">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                            <mat-button-toggle value="2" disabled>Write</mat-button-toggle>
                            <mat-button-toggle value="3" disabled>Full</mat-button-toggle>
                        </mat-button-toggle-group>
                        <button mat-icon-button><mat-icon>navigate_next</mat-icon></button>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Roles</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['admin:role']" name="page-role">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                            <mat-button-toggle value="2" disabled>Write</mat-button-toggle>
                            <mat-button-toggle value="3" disabled>Full</mat-button-toggle>
                        </mat-button-toggle-group>
                        <button mat-icon-button><mat-icon>navigate_next</mat-icon></button>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Devices</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['admin:device']" name="page-device">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                            <mat-button-toggle value="2" disabled>Write</mat-button-toggle>
                            <mat-button-toggle value="3" disabled>Full</mat-button-toggle>
                        </mat-button-toggle-group>
                        <button mat-icon-button><mat-icon>navigate_next</mat-icon></button>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Alerts</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['admin:alert']" name="page-alert">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                            <mat-button-toggle value="2" disabled>Write</mat-button-toggle>
                            <mat-button-toggle value="3" disabled>Full</mat-button-toggle>
                        </mat-button-toggle-group>
                        <button mat-icon-button><mat-icon>navigate_next</mat-icon></button>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 matLine>Geozones</h4>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="accountAcl.pages['admin:geozone']" name="page-geozone">
                            <mat-button-toggle value="0" disabled>None</mat-button-toggle>
                            <mat-button-toggle value="1" disabled>Read</mat-button-toggle>
                            <mat-button-toggle value="2" disabled>Write</mat-button-toggle>
                            <mat-button-toggle value="3" disabled>Full</mat-button-toggle>
                        </mat-button-toggle-group>
                        <button mat-icon-button><mat-icon>navigate_next</mat-icon></button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>