<mat-sidenav-container class="side-nav-container">
    <mat-sidenav mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon mat-list-icon>account</mat-icon>
                <a matLine routerLink="account" i18n>Accounts</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>group</mat-icon>
                <a matLine routerLink="group" i18n>Groups</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>device</mat-icon>
                <a matLine routerLink="device" i18n>Devices</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>vehicle</mat-icon>
                <a matLine routerLink="vehicle" i18n>Vehicles</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>role</mat-icon>
                <a matLine routerLink="role" i18n>Roles</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>alarm</mat-icon>
                <a matLine routerLink="account" i18n>Alets</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>geozone</mat-icon>
                <a matLine routerLink="account" i18n>Geozones</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <div class="scroll-content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
