<div mat-dialog-title>
    <span i18n>Are you sure want to delete contact #</span>
    <span>{{data}}</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>
<div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close="true">
        <span>Ok</span>
    </button>
    <button mat-button mat-dialog-close="false">
        <span>Cancel</span>
    </button>
</div>
