<div class="full-height flex-center">
    <form class="l-form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Your Usermame" [(ngModel)]="model.username" name="username">
            <span matPrefix><mat-icon matPrefix>profile</mat-icon></span>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Your Password" [(ngModel)]="model.password" name="password">
            <span matPrefix class=""><mat-icon matPrefix>key</mat-icon></span>
        </mat-form-field>

        <div class="l-button">
            <a mat-button routerLink="/home">Back to home page</a>
            <a mat-raised-button color="primary" (click)="login()">Login</a>
        </div>
        <mat-divider></mat-divider>
        <div>Forgot Password ?</div>
    </form>
</div>
