<div class="full-height flex-center">
    <form class="login-form flex-center">
        <mat-card>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Your Usermame" [(ngModel)]="model.username" name="username">
                    <span matPrefix class=""><mat-icon matPrefix>profile</mat-icon></span>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Your Password" [(ngModel)]="model.password" name="password">
                    <span matPrefix class=""><mat-icon matPrefix>key</mat-icon></span>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="middle">
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </mat-card-actions>
            <mat-card-footer align="end" class="card-footer">
                <span>Forgot Password ?</span>
            </mat-card-footer>
        </mat-card>
    </form>
</div>
