<mat-sidenav-container class="side-nav-container">
    <mat-sidenav mode="side" [opened]="true" position="end">
        <div class="m-dev">
            <div class="m-dev-header">
                <mat-form-field class="m-dev-filter">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Devices Filter">
                </mat-form-field>
                <div class="m-dev-add">
                    <button mat-button color="primary">
                        <mat-icon>add</mat-icon>Device
                    </button>
                </div>

            </div>
            <mat-divider></mat-divider>

            <mat-nav-list class="map-device-table" role="list">
                <mat-list-item *ngFor="let device of deviceList" (click)="selectThisDevice($event, device)">
                    <div class="device" [ngClass]="{'stop': device.state==0, 'idle': device.state==1, 'live': device.state==2}"></div>
                    <div>
                        <span mat-line>{{device.name || device.deviceId}}</span>
                        <span mat-line>Speed {{device.speedKph}} km/h {{device.lastUpdateTimeInWords}}</span>
                    </div>

                    <div class="right">
                        <mat-icon mat-list-icon>satellite</mat-icon>
                        <mat-icon mat-list-icon>cellfull</mat-icon>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-nav-list>

            <mat-divider></mat-divider>
            <div class="chart-overview">
                <svg width="200" height="120" id="chart"></svg>
            </div>
        </div>

    </mat-sidenav>


    <mat-sidenav-content class="mat-elevation-z6">
        <div class="sidenav-content">
            <div id="map-id" class="main-map"></div>

            <div class="m-comm" *ngIf="selectedDevice">
                <div class="m-comm-content">
                    <table>
                        <tr>
                            <td class="t-head">DeviceID</td>
                            <td>{{selectedDevice.name || selectedDevice.deviceId}}</td>
                        </tr>
                        <tr>
                            <td class="t-head">Lat/Lng</td>
                            <td>{{selectedDevice.latitude}}/{{selectedDevice.longitude}}</td>
                        </tr>
                        <tr>
                            <td class="t-head">Lat/Lng</td>
                            <td>{{selectedDevice.lastUpdateTime | date: 'short'}}</td>
                        </tr>
                        <tr>
                            <td class="t-head">SpeedKPH</td>
                            <td>{{selectedDevice.speedKph}} km/h</td>
                        </tr>
                        <tr>
                            <td class="t-head">Address</td>
                            <td>{{selectedDevice.address}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a mat-button [routerLink]="['history', selectedDevice.id]">history >></a>
                            </td>
                        </tr>
                    </table>

                    <div class="m-d-command">
                        <mat-form-field>
                            <mat-select placeholder="Favorite food">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{ food.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button>Submit</button>
                    </div>

                    <speed-chart class="fill-remain-space" [device]="selectedDevice.id"></speed-chart>
                </div>
                <button mat-icon-button (click)="closePanelDetails()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
