<mat-sidenav-container class="side-nav-container">
    <mat-sidenav mode="side" [opened]="true" position="end">
        <div class="m-dev">
            <div class="m-dev-header">
                <mat-form-field class="m-dev-filter">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Devices Filter">
                </mat-form-field>
                <div class="m-dev-add">
                    <button mat-button color="primary">
                        <mat-icon>add</mat-icon>Device
                    </button>
                </div>

            </div>

            <mat-nav-list class="map-device-table" role="list">
                <mat-list-item *ngFor="let device of deviceList" (click)="selectThisDevice($event, device)">
                    <div class="device" [ngClass]="{'stop': device.state==0, 'idle': device.state==1, 'live': device.state==2}"></div>
                    <div>
                        <span mat-line>{{device.name || device.deviceId}}</span>
                        <span mat-line>{{device.speedKph}} km/h {{device.lastUpdateTimeInWords}}</span>
                    </div>

                    <div class="right">
                        <mat-icon mat-list-icon>satellite</mat-icon>
                        <mat-icon mat-list-icon>cellfull</mat-icon>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-nav-list>

            <mat-divider></mat-divider>
            <div class="chart-overview">
                <svg width="200" height="120" id="chart"></svg>
            </div>
        </div>

    </mat-sidenav>


    <mat-sidenav-content class="mat-elevation-z6">
        <div class="sidenav-content">
            <div id="map-id" class="main-map"></div>

            <div class="m-comm" *ngIf="selectedDevice">
                <div fxLayout="row" fxLayoutGap="16px">
                    <div fxFlex="50">
                        Informations of current device
                        <a mat-button [routerLink]="['history', selectedDevice.id]">history >></a>
                    </div>

                    <div fxFlex="50">
                        <button mat-stroked-button>Shutdown</button>
                        <button mat-stroked-button>Reconfig</button>
                        <button mat-stroked-button>Request Now</button>
                    </div>
                </div>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
    <!--<mat-divider></mat-divider>-->


