<div *ngIf="isLoading" class="page-center">
    <span>
        <mat-progress-spinner
                class="center"
                mode="indeterminate"
                color="primary">
        </mat-progress-spinner>
    </span>
</div>
<mat-sidenav-container class="side-nav-container">
    <mat-sidenav mode="side" opened="true" align="end">
        <div class="map-device">
            <div class="map-device-header">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
            <div class="map-device-table">
                <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Device ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title (click)="selectThisDevice($event, element)">
                                            <span [ngClass]="{'device-stop': element.state==0, 'device-idle': element.state==1, 'device-live': element.state==2}"></span>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <span>{{element.deviceId}}</span>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <table>
                                        <tr>
                                            <td>Device ID</td>
                                            <td>{{element.deviceId}}</td>
                                        </tr>
                                        <tr>
                                            <td>Device Name</td>
                                            <td>{{element.deviceName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>{{element.address}}</td>
                                        </tr>
                                    </table>
                                    <a [routerLink]="['history', element.id]">history >></a>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" style="display: none"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{selected: row.selected}"></mat-row>
                </mat-table>
            </div>
            <div class="chart-overview mat-elevation-z6">
                <svg width="250" height="250" id="chart"></svg>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="sidenav-content">
            <div id="map-id" class="main-map"></div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
