$side-nav-width: 250px;
@mixin map-component($theme) {
  .main-map {
    height:100%;
  }

  .side-nav-container {
    height: 100%;
  }
  .sidenav-content {
    height: 100%;
  }
  .side-nav-container mat-sidenav {
    overflow-y: hidden;
    //overflow-x: hidden;
    min-width: $side-nav-width;
    max-width: $side-nav-width;
    display: flex;
    flex-direction: column;
  }

  .map-device {
    height: 100%;
    display: flex;
    flex-direction: column;

    .map-device-header {
      min-height: 64px;
      padding: 8px 24px 0;

      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
    }
    .map-device-table {
      overflow-y: auto;
      height: 100%;
      &::-webkit-scrollbar {
        width: 6px;
        background-color: #ffffff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #eeeeee;
      }

      .device-stop {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
      }
      .device-idle {
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 50%;
        display: inline-block;
      }
      .device-live {
        width: 10px;
        height: 10px;
        background-color: lightgreen;
        border-radius: 50%;
        display: inline-block;
      }
    }

    .chart-overview {
      background-color: #9b9b9b;
      min-height: $side-nav-width;
      max-height: $side-nav-width;
      min-width: $side-nav-width;
      max-width: $side-nav-width;
    }
  }



  //Override css mapping
  .marker-label {
    padding: 0!important;
    &:before {
      content: none!important;
    }
  }
  .popup-title {
    font-weight: 600;
  }

}
