$side-nav-width: 500px;
@mixin map-component($theme) {

  //.m-live {
  //  height: 100%;
  //  .m-comm{
  //    display: flex;
  //    align-items: center;
  //    height: 20%;
  //    min-height: 130px;
  //    max-height: 200px;
  //    justify-content: space-between;
  //  }
  //}
  .side-nav-container {
    height: 100%;
  }
  .sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-map {
      height:100%;
    }

    .m-comm {
      display: flex;
      align-items: center;
      height: 20%;
      min-height: 130px;
      max-height: 200px;
      justify-content: space-between;
    }
  }
  .side-nav-container mat-sidenav {
    overflow-y: hidden;
    width: 20%;
    max-width: $side-nav-width;
  }

  .m-dev {
    height: 100%;
    display: flex;
    flex-direction: column;

    .m-dev-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 24px 0;
      .m-dev-filter {
        flex: 1;
        font-size: 14px;
      }
    }


    .map-device-table {
      overflow-y: auto;
      height: 100%;
      &::-webkit-scrollbar {
        width: 6px;
        background-color: #ffffff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #eeeeee;
      }

      .device-stop {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
      }
      .device-idle {
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 50%;
        display: inline-block;
      }
      .device-live {
        width: 10px;
        height: 10px;
        background-color: lightgreen;
        border-radius: 50%;
        display: inline-block;
      }

      .mat-list-item-content {
        flex-basis: 0;
        justify-content: space-between;
        align-items: center;
      }
    }

    .chart-overview {
      margin: auto;
      float: right;

    }
  }



  //Override css mapping
  .marker-label {
    padding: 0!important;
    &:before {
      content: none!important;
    }
  }
  .popup-title {
    font-weight: 600;
  }

}
