<div class="main">
    <md-toolbar color="primary" class="header">
        <button md-icon-button>
            <md-icon>home</md-icon>
        </button>
        <button md-button routerLink="live">
            <md-icon>map</md-icon>
            <span i18n>Live</span>
        </button>
        <button md-button routerLink="report">
            <md-icon>report</md-icon>
            <span i18n>Reports</span>
        </button>
        <button md-button routerLink="admin">
            <md-icon>setting</md-icon>
            <span i18n>Administration</span>
        </button>
        <span class="fill-remain-space"></span>
        <button md-icon-button>
            <md-icon>mail</md-icon>
        </button>
        <div *ngIf="profile!=null">
            <button md-button [mdMenuTriggerFor]="menu">
                <md-icon>profile</md-icon>
                <span>{{profile.displayName || profile.contactName}}</span>
            </button>
            <md-menu #menu="mdMenu">
                <div md-menu-item class="profile-current">
                    <span>{{profile.displayName || profile.contactName}}</span>
                    <span>{{profile.totalDevices || 0}}</span>
                </div>
                <button md-menu-item>
                    <md-icon>home</md-icon>
                    <span>Home</span>
                </button>
                <button md-menu-item (click)="logout()">
                    <md-icon>logout</md-icon>
                    <span i18n>Logout</span>
                </button>
            </md-menu>
        </div>
    </md-toolbar>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>


