<md-sidenav-container class="side-nav-container">
    <md-sidenav mode="side" opened="true">
        <md-nav-list>
            <md-list-item>
                <md-icon md-list-icon>supervisor_account</md-icon>
                <a md-line routerLink="account" i18n>Accounts</a>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon>perm_device_information</md-icon>
                <a md-line routerLink="group" i18n>Groups</a>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon>perm_device_information</md-icon>
                <a md-line routerLink="device" i18n>Devices</a>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon>perm_identity</md-icon>
                <a md-line routerLink="role" i18n>Roles</a>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon>error</md-icon>
                <a md-line routerLink="account" i18n>Alets</a>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon>place</md-icon>
                <a md-line routerLink="account" i18n>Geozones</a>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <div class="scroll-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
