<mat-progress-bar class="main-progress-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="main" fullscreen>
    <mat-toolbar color="primary" class="header mat-elevation-z3">
        <button mat-icon-button>
            <mat-icon>home</mat-icon>
        </button>
        <button mat-button routerLink="dashboard">
            <mat-icon>map</mat-icon>
            <span i18n>Dashboard</span>
        </button>

        <button mat-button routerLink="tracking">
            <mat-icon>geozone</mat-icon>
            <span i18n>Tracking</span>
        </button>

        <button mat-button routerLink="report">
            <mat-icon>report</mat-icon>
            <span i18n>Reports</span>
        </button>
        <button mat-button routerLink="_admin">
            <mat-icon>setting</mat-icon>
            <span i18n>Administration</span>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>help</mat-icon>
            <span i18n>Help</span>
        </button>
        <mat-menu #menu="matMenu" overlapTrigger="false">
            <button mat-menu-item routerLink="usage">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
            <button mat-menu-item>
                <mat-icon>voicemail</mat-icon>
                <span>Development Plan</span>
            </button>
            <button mat-menu-item>
                <mat-icon>mail</mat-icon>
                <span>Event Logger</span>
            </button>
        </mat-menu>

        <span class="fill-remain-space"></span>

            <button mat-icon-button>
                <mat-icon>mail</mat-icon>
            </button>
            <button mat-button (click)="logout()">
                <span>{{profile.accountName}}</span>
                <mat-icon>logout</mat-icon>
            </button>
    </mat-toolbar>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
