<div class="main" fullscreen>
    <mat-toolbar color="primary" class="header mat-elevation-z3">
        <button mat-icon-button>
            <mat-icon>home</mat-icon>
        </button>
        <!--button mat-button routerLink="dashboard">
            <mat-icon>map</mat-icon>
            <span i18n>Dashboard</span>
        </button-->

        <button mat-button routerLink="tracking">
            <mat-icon>geozone</mat-icon>
            <span i18n>Tracking</span>
        </button>

        <button mat-button [routerLink]="['report', 'device']">
        <mat-icon>report</mat-icon>
        <span i18n>Reports</span>
        </button>

        <!--button mat-button [matMenuTriggerFor]="menuReport">
            <mat-icon>report</mat-icon>
            <span i18n>Reports</span>
        </button>
        <mat-menu #menuReport="matMenu" overlapTrigger="false">
            <button mat-menu-item routerLink="report/device">
                <mat-icon>report</mat-icon>
                <span i18n>Device Report</span>
            </button>
            <button mat-menu-item routerLink="report/account">
                <mat-icon>report</mat-icon>
                <span i18n>Account Report</span>
            </button>
            <button mat-menu-item routerLink="report/driver">
                <mat-icon>report</mat-icon>
                <span i18n>Driver Report</span>
            </button>
            <button mat-menu-item routerLink="report/shipment">
                <mat-icon>report</mat-icon>
                <span i18n>Shipment Report</span>
            </button>
        </mat-menu-->


        <button mat-button routerLink="_admin/_account">
            <mat-icon>setting</mat-icon>
            <span i18n>Administration</span>
        </button>
        <button mat-button [matMenuTriggerFor]="menuHelp">
            <mat-icon>help</mat-icon>
            <span i18n>Help</span>
        </button>

        <mat-menu #menuHelp="matMenu" overlapTrigger="false">
            <button mat-menu-item routerLink="help/usage">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
            <button mat-menu-item routerLink="help/development">
                <mat-icon>voicemail</mat-icon>
                <span>Development Plan</span>
            </button>
            <button mat-menu-item routerLink="help/event-logger">
                <mat-icon>mail</mat-icon>
                <span>Event Logger</span>
            </button>
        </mat-menu>

        <span class="fill-remain-space"></span>

        <button mat-icon-button>
            <mat-icon>mail</mat-icon>
        </button>

        <button mat-button [matMenuTriggerFor]="menuProfile">
            <span>{{profile.accountName}}</span>
            <mat-icon>profile</mat-icon>
        </button>
        <mat-menu #menuProfile="matMenu" overlapTrigger="false">
            <button mat-menu-item routerLink="profile">
                <mat-icon>setting</mat-icon>
                <span i18n>Preferences</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span i18n>Logout</span>
            </button>
        </mat-menu>

    </mat-toolbar>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
