.profile-current {
  margin-top: -8px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0 0 auto;
  z-index: 10;
}
.page-content {
  flex: 1 1 auto;
  height: 100%;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.page-footer {
  flex: 0 0 auto;
  background-color: #dcdcdc;
}


.side-nav-headers-align .mat-expansion-panel-header-title,
.side-nav-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.side-nav-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
