<md-toolbar>
    <md-input-container class="inside-toolbar-input">
        <input mdInput type="text"
               #searchKey
               value=""
               i18n-placeholder placeholder="Enter for search device">
    </md-input-container>
    <a md-icon-button *ngIf="searchKey.value" (click)="searchKey.value=''">
        <md-icon>clear</md-icon>
    </a>
    <span class="fill-remain-space"></span>
    <button md-raised-button color="primary" routerLink='add'>
        <md-icon>add</md-icon>
        <span i18n>Add New Device</span>
    </button>
</md-toolbar>
<md-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="toggleColumn">
        <md-header-cell *cdkHeaderCellDef class="device-header toggle-column">#</md-header-cell>
        <md-cell *cdkCellDef="let device" class="toggle-column">
            <md-slide-toggle [checked]="device.isActive" (change)="toggle(device.deviceID)"></md-slide-toggle>
        </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="deviceInfo">
        <md-header-cell *cdkHeaderCellDef class="device-header"> Device Information </md-header-cell>
        <md-cell *cdkCellDef="let device;">
            <div class="display-name">
                <a [routerLink]="['.', device.deviceID]" [queryParams]="{action: 'view'}">{{device.displayName}}</a>
            </div>
            <div>{{device.uniqueID}}</div>
            <div *ngIf="device.simPhoneNumber">
                <md-icon class="info-icon">sim_card</md-icon>
                <span>{{device.simPhoneNumber}}</span>
            </div>

        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="deviceExpired">
        <md-header-cell *cdkHeaderCellDef="" class="device-header">Expired at</md-header-cell>
        <md-cell *cdkCellDef="let device">
            <div>{{(device.expirationTime> 0) ? (device.expirationTime * 1000 | date: 'short') : "No expire"}}</div>
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="notes">
        <md-header-cell *cdkHeaderCellDef="" class="device-header">Notes</md-header-cell>
        <md-cell *cdkCellDef="let device">
            <div>{{device.notes}}</div>
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
        <md-header-cell *cdkHeaderCellDef="" class="device-header">Actions</md-header-cell>
        <md-cell *cdkCellDef="let device">
            <button md-icon-button>
                <md-icon>edit</md-icon>
            </button>
            <button md-icon-button (click)="openDeleteDialog(device)">
                <md-icon>delete</md-icon>
            </button>
        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>