<md-toolbar>
    <md-input-container class="inside-toolbar-input">
        <input mdInput type="text"
               #searchKey
               value=""
               i18n-placeholder placeholder="Enter for search account">
    </md-input-container>
    <a md-icon-button *ngIf="searchKey.value" (click)="searchKey.value=''">
        <md-icon>clear</md-icon>
    </a>

    <span class="fill-remain-space"></span>
    <button md-raised-button color="primary" routerLink="add">
        <md-icon>add</md-icon>
        <span i18n>Add New Account</span>
    </button>
</md-toolbar>
<!--progress spinner here-->
<div *ngIf="showSpinner"class="progress-surface">
    <md-progress-spinner
            class="center"
            mode="indeterminate"
            color="primary">
    </md-progress-spinner>
</div>
<md-card class="list-card">
    <md-card-content>
        <table class="list-table" cellspacing="0">
            <tr>
                <th>#</th>
                <th i18n>Account ID</th>
                <th i18n>Contact Name</th>
                <th i18n>Contact Email</th>
                <!--<th i18n>Status</th>-->
                <th i18n>Total Devices</th>
                <th i18n>Manager ID</th>
                <th i18n>Actions</th>
            </tr>
            <tr *ngFor="let account of accountList">
                <td>
                    <md-slide-toggle color="primary" [checked]="account.isActive" (change)="toggleStatus(account)"></md-slide-toggle>
                </td>
                <td>
                    <a [routerLink]="['.', account.accountID]" [queryParams]="{action: 'view'}">{{account.accountID}}</a>
                </td>
                <td>{{account.contactName}}</td>
                <td>{{account.contactEmail}}</td>
                <!--<td>-->
                    <!--<md-icon>-->
                        <!--{{account.isActive ? 'done' : 'clear' }}-->
                    <!--</md-icon>-->
                    <!--&lt;!&ndash;{{account.isActive}}&ndash;&gt;-->
                <!--</td>-->
                <td>{{account.totalDevices}}</td>
                <td>{{account.managerID}}</td>
                <td>
                    <button md-icon-button (click)="edit(account.accountID)">
                        <md-icon>edit</md-icon>
                    </button>
                    <button md-icon-button color="warn" (click)="del(account.accountID)">
                        <md-icon>delete</md-icon>
                    </button>
                </td>
            </tr>
        </table>
    </md-card-content>
</md-card>

<!--<div class="ng2-toasty">
    <ng2-toasty></ng2-toasty>
</div>-->
