<div matDialogTitle>
    <span i18n>Select columns to show</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item>
            <span matLine i18n>ID</span>
            <mat-checkbox [(ngModel)]="data.id.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Name</span>
            <mat-checkbox [(ngModel)]="data.name.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Phone Number</span>
            <mat-checkbox [(ngModel)]="data.description.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Created By</span>
            <mat-checkbox [(ngModel)]="data.createdBy.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Created On</span>
            <mat-checkbox [(ngModel)]="data.createdOn.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Updated By</span>
            <mat-checkbox [(ngModel)]="data.updatedBy.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Updated On</span>
            <mat-checkbox [(ngModel)]="data.updatedOn.selected"></mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <span matLine i18n>Actions</span>
            <mat-checkbox [(ngModel)]="data.actions.selected"></mat-checkbox>
        </mat-list-item>
    </mat-list>

</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onSave()" i18n>Save</button>
    <button mat-button (click)="cancel()" i18n>Cancel</button>
</div>
