<div mat-dialog-title>
    <span i18n>{{isEditing ? 'Modifying Contact' : 'Creating Contact'}}</span>
    <span>#</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button mat-dialog-close="false">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50">
            <mat-form-field class="full-width">
                <input type="text" matInput
                       [(ngModel)]="data.name"
                       i18n-placeholder
                       placeholder="Name"
                       name="contact-name"
                       aria-label="Contact Name"
                       required
                       [disabled]="isEditing">
            </mat-form-field>
        </div>
        <div fxFlex="50" class="flex-center">
            <mat-checkbox [(ngModel)]="data.publicInCompany">Public in the company</mat-checkbox>
        </div>
    </div>

    <mat-form-field class="full-width">
        <input type="text" matInput
               [(ngModel)]="data.description"
               i18n-placeholder
               placeholder="Description"
               name="contact-description"
               aria-label="Contact Description">
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="10">
            <mat-form-field class="full-width">
                <input type="text" matInput
                       [(ngModel)]="data.title"
                       i18n-placeholder
                       placeholder="Title"
                       name="contact-title"
                       aria-label="Contact Title">
            </mat-form-field>
        </div>
        <div fxFlex="45">
            <mat-form-field class="full-width">
                <input type="text" matInput
                       [(ngModel)]="data.firstName"
                       i18n-placeholder
                       placeholder="First Name"
                       name="contact-first-name"
                       aria-label="Contact First Name">
            </mat-form-field>
        </div>
        <div fxFlex="45">
            <mat-form-field class="full-width">
                <input type="text" matInput
                       [(ngModel)]="data.lastName"
                       i18n-placeholder
                       placeholder="Last Name"
                       name="contact-last-name"
                       aria-label="Contact Last Name">
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50">
            <mat-form-field class="full-width">
                <input type="text" matInput
                       [(ngModel)]="data.phoneNumber"
                       i18n-placeholder
                       placeholder="Phone Number"
                       name="contact-phone-number"
                       aria-label="Contact Phone Number">
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field class="full-width">
                <input type="text" matInput
                       [(ngModel)]="data.emailAddress"
                       i18n-placeholder
                       placeholder="Email"
                       name="contact-email"
                       aria-label="Contact Email" required>
            </mat-form-field>
        </div>
    </div>

    <mat-form-field class="full-width">
        <input type="text" matInput
               [(ngModel)]="data.addressLine1"
               i18n-placeholder
               placeholder="Address Line 1"
               name="contact-address-line-1"
               aria-label="Contact Address Line 1">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input type="text" matInput
               [(ngModel)]="data.addressLine2"
               i18n-placeholder
               placeholder="Address Line 2"
               name="contact-address-line-2"
               aria-label="Contact Address Line 2">
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onSave()" i18n>Save</button>
    <button mat-button mat-dialog-close="false" i18n>Cancel</button>
</div>
