<mat-toolbar>
    <mat-form-field class="inside-toolbar-input">
        <input matInput type="text"
               #searchKey
               value=""
               i18n-placeholder placeholder="Enter for search role">
    </mat-form-field>
    <a mat-icon-button *ngIf="searchKey.value" (click)="searchKey.value=''">
        <mat-icon>clear</mat-icon>
    </a>
    <span class="fill-remain-space"></span>
    <button mat-raised-button color="primary" routerLink='add'>
        <mat-icon>add</mat-icon>
        <span i18n>Add New Role</span>
    </button>
</mat-toolbar>
<mat-card class="list-card">
    <mat-card-content>
        <table class="list-table" cellspacing="0">
            <tr>
                <th>#</th>
                <th>Role Name</th>
                <th>Description</th>
                <th>Is Global</th>
                <th>Is Default</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let role of (roleList | filter:searchKey.value)">
                <td>
                    <mat-slide-toggle color="primary" [(ngModel)]="role.isActive" (change)="toggleStatusRole(role)"></mat-slide-toggle>
                </td>

                <td>{{role.displayName}}</td>
                <td>{{role.description}}</td>
                <td>
                    <mat-icon>
                        {{role.global ? 'done' : ''}}
                    </mat-icon>
                </td>
                <td>
                    <mat-icon>
                        {{role.default ? 'done' : '' }}
                    </mat-icon>
                </td>
                <td>{{role.notes}}</td>
                <td>
                    <button mat-icon-button (click)="viewRole(role)"><mat-icon>visibility</mat-icon></button>
                    <button mat-icon-button (click)="editRole(role.roleID)" [disabled]="role.global">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openDeleteDialog(role)" color="warn" [disabled]="role.global">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>