<div matDialogTitle>
    <span *ngIf="data.id" i18n>Modifying Organization</span>
    <span *ngIf="data.id==null" i18n>Creating Organization</span>
    <span> #{{data.name}}</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>

<div mat-dialog-content>
    <div fxLayout="column">
        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Name" name="org-name" [(ngModel)]="data.name" required>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Email Address" name="org-email-address" [(ngModel)]="data.emailAddress" required>
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Phone Number" name="org-phone-number" [(ngModel)]="data.phoneNumber">
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Address Line1" name="org-address-line1" [(ngModel)]="data.addressLine1">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Address Line2" name="org-address-line2" [(ngModel)]="data.addressLine2">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Photo URL" name="org-photo-url" [(ngModel)]="data.photoUrl">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onSave()" i18n>Save</button>
    <button mat-button (click)="cancel()" i18n>Cancel</button>
</div>
