<div class="x-container">
    <div class="x-header">
        <mat-form-field>
            <input matInput i18n-placeholder placeholder="Search" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <span class="fill-remain-space"></span>
        <button mat-icon-button (click)="openDialogColumnOptions()">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialogNewObject()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="table-container">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accountId">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Account ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.accountId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> First Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="organizationId">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Organization ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.organizationId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="organizationName">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Organization Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.organizationName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Phone Number </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="photoUrl">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Photo Url </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.photoUrl}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="emailAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Email Address </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.emailAddress}} </mat-cell>
            </ng-container>

             <ng-container matColumnDef="addressLine1">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Address Line1 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.addressLine1}} </mat-cell>
            </ng-container>

             <ng-container matColumnDef="addressLine2">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Address Line2 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.addressLine2}} </mat-cell>
            </ng-container>

             <ng-container matColumnDef="notes">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Notes </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.notes}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdBy">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Created By </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdOn">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Created On </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.createdOn | date:'short'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="updatedBy">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Updated By </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.updatedBy}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="updatedOn">
                <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Updated On </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.updatedOn | date:'short'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef i18n> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openDialogRoleUpdate(element)" *showIfRole="'ROLE_SYSTEM_ADMIN'">
                        <mat-icon color="accent">key</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openDialogEditing(element)">
                        <mat-icon color="accent">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openDialogConfirmDelete(element)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{selected: row.selected}"></mat-row>

        </mat-table>
    </div>

    <mat-paginator #paginator
                   [length]="resultsLength"
                   [pageIndex]="0"
                   [pageSize]="25"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
