<div matDialogTitle>
    <span *ngIf="isEditing" i18n>Modifying Dcs</span>
    <span *ngIf="!isEditing" i18n>Creating Dcs</span>
    <span> #{{data.id}}</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>

<div mat-dialog-content>
    <div fxLayout="column">
        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Name" name="dcs-name" [(ngModel)]="data.name">
        </mat-form-field>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
            <div fxFlex="50">
                <mat-slide-toggle  [(ngModel)]="data.duplex" name="dcs-duplex" i18n>Duplex</mat-slide-toggle>
            </div>
            <div fxFlex="50">
                <mat-slide-toggle  [(ngModel)]="data.enabled" name="dcs-enabled" i18n>Enabled</mat-slide-toggle>
            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Address" name="dcs-address" [(ngModel)]="data.address">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder placeholder="Port" name="dcs-port" [(ngModel)]="data.port">
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class="full-width">
            <input matInput i18n-placeholder placeholder="Class Name" name="dcs-class-name" [(ngModel)]="data.className">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onSave()" i18n>Save</button>
    <button mat-button (click)="cancel()" i18n>Cancel</button>
</div>
