<div class="x-container">
    <div class="x-header">
        <mat-form-field>
            <input matInput i18n-placeholder placeholder="Search" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>

        <span class="fill-remain-space"></span>
        <button mat-icon-button (click)="dialogColumnOptions()">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="dialogToCreateNewAlertProfile()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let el">{{el.name}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let el">{{el.description}}</td>
        </ng-container>

        <ng-container matColumnDef="publicInCompany">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Public In Company</th>
            <td mat-cell *matCellDef="let el">
                <mat-icon>{{el.publicInCompany ? 'check' : 'cancel'}}</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let el">{{el.type}}</td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
            <td mat-cell *matCellDef="let el">
                <mat-icon>{{el.active ? 'check' : 'cancel'}}</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="speedKph">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Speed Kph</th>
            <td mat-cell *matCellDef="let el">{{el.speedKph}}</td>
        </ng-container>

        <ng-container matColumnDef="zoneId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Zone Id</th>
            <td mat-cell *matCellDef="let el">{{el.zoneId}}</td>
        </ng-container>

        <ng-container matColumnDef="params1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Params1</th>
            <td mat-cell *matCellDef="let el">{{el.params1}}</td>
        </ng-container>

        <ng-container matColumnDef="params2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Params2</th>
            <td mat-cell *matCellDef="let el">{{el.params2}}</td>
        </ng-container>

        <!--<ng-container matColumnDef="weekDays">-->
            <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>Week Days</th>-->
            <!--<td mat-cell *matCellDef="let el">{{el.weekDays}}</td>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="dayTime">-->
            <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>Day Time</th>-->
            <!--<td mat-cell *matCellDef="let el">{{el.dayTime}}</td>-->
        <!--</ng-container>-->

        <!--ng-container matColumnDef="alertEmail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Email</th>
            <td mat-cell *matCellDef="let el">
                <mat-icon>{{el.alertEmail ? 'check' : 'cancel'}}</mat-icon>
        </ng-container>

        <ng-container matColumnDef="alertSms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Sms</th>
            <td mat-cell *matCellDef="let el">
                <mat-icon>{{el.alertSms ? 'check' : 'cancel'}}</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="alertApp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert App</th>
            <td mat-cell *matCellDef="let el">
                <mat-icon>{{el.alertApp ? 'check' : 'cancel'}}</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="cannedAction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Canned Action</th>
            <td mat-cell *matCellDef="let el">{{el.cannedAction}}</td>
        </ng-container-->

        <ng-container matColumnDef="contacts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contacts</th>
            <td mat-cell *matCellDef="let el">
                <span *ngFor="let contact of el.contacts">{{contact.name}}, </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
            <td mat-cell *matCellDef="let el">{{el.subject}}</td>
        </ng-container>

        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
            <td mat-cell *matCellDef="let el">{{el.text}}</td>
        </ng-container>

        <ng-container matColumnDef="templateId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TemplateId</th>
            <td mat-cell *matCellDef="let el">{{el.templateId}}</td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
            <td mat-cell *matCellDef="let el">{{el.createdBy}}</td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
            <td mat-cell *matCellDef="let el">{{el.createdOn | date: 'short'}}</td>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</th>
            <td mat-cell *matCellDef="let el">{{el.updatedBy}}</td>
        </ng-container>

        <ng-container matColumnDef="updatedOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated On</th>
            <td mat-cell *matCellDef="let el">{{el.updatedOn | date: 'short'}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let el">
                <button mat-icon-button color="primary" (click)="dialogEditAlertProfile(el)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="dialogDelete(el)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!--Expanded Content Column-->
        <ng-container matColumnDef="expanded-detail">
            <td mat-cell *matCellDef="let el" [attr.colspan]="displayedColumns.length">
                <div class="element-detail" [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">
                    <div fxLayout="row" fxLayoutGap="16px" class="full-width ">
                        <div fxFlex="50">
                            <weekday type="short" [editMode]="false" [data]="el.weekDays"></weekday>
                        </div>
                        <div fxFlex="50">
                            <daytime [editMode]="false" [data]="el.dayTime"></daytime>
                        </div>
                    </div>

                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row"
            [class.expanded-row]="isExpanded(element)"
            (click)="toggleExpandCollapse(element)"></tr>

        <tr mat-row *matRowDef="let row; columns: ['expanded-detail']" class="detail-row"></tr>
    </table>

    <mat-paginator [length]="resultsLength"
                   [pageSizeOptions]="[20, 50, 100]"
                   showFirstLastButtons
    ></mat-paginator>
</div>