.add-account-component-button-cancel {
  margin-left: 10px;
}
.add-account-component-card {
  margin: 10px;
  min-height: 300px;
}
.view-information {
  margin: 10px;
  &.left {
    margin-right: 5px;
  }
  &.right {
    margin-left: 5px;
  }
}

