<mat-card class="content-card">
    <mat-card-title>
        <span i18n>Permissions</span>
        <button mat-icon-button matTooltip="Default permissions">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxLayout.sm="column">
            <mat-list>
                <!--Mapping-->
                <mat-list-item>
                    <mat-icon mat-list-icon>dashboard</mat-icon>
                    <h4 matLine>Live Monitoring</h4>
                    <mat-button-toggle-group [(ngModel)]="permMapLive" name="map-live" [disabled]="!is_edit">
                        <mat-button-toggle value="0">None</mat-button-toggle>
                        <mat-button-toggle value="1">Read</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>history</mat-icon>
                    <h4 matLine>Historical Data</h4>
                    <mat-button-toggle-group [(ngModel)]="permMapHistory" name="map-his" [disabled]="!is_edit">
                        <mat-button-toggle value="0">None</mat-button-toggle>
                        <mat-button-toggle value="1">Read</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-list-item>
                <!--Reporting-->
                <mat-list-item>
                    <mat-icon mat-list-icon>report</mat-icon>
                    <h4 matLine>Summary Report</h4>
                    <mat-button-toggle-group [(ngModel)]="permReportSummary" name="report-sum" [disabled]="!is_edit">
                        <mat-button-toggle value="0">None</mat-button-toggle>
                        <mat-button-toggle value="1">Read</mat-button-toggle>
                    </mat-button-toggle-group>

                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 matLine>Speeding Report</h4>
                    <mat-button-toggle-group [(ngModel)]="permReportSpeeding" name="report-speed" [disabled]="!is_edit">
                        <mat-button-toggle value="0">None</mat-button-toggle>
                        <mat-button-toggle value="1">Read</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>local_parking</mat-icon>
                    <h4 matLine>Parking Report</h4>
                    <mat-button-toggle-group [(ngModel)]="permReportParking" name="report-park" [disabled]="!is_edit">
                        <mat-button-toggle value="0">None</mat-button-toggle>
                        <mat-button-toggle value="1">Read</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 matLine>Geozone Report</h4>
                    <mat-button-toggle-group [(ngModel)]="permReportGeozone" name="report-geozone" [disabled]="!is_edit">
                        <mat-button-toggle value="0">None</mat-button-toggle>
                        <mat-button-toggle value="1">Read</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <!--Administration-->
                <mat-list-item>
                    <mat-icon mat-list-icon>supervisor_account</mat-icon>
                    <h4 matLine>Accounts</h4>
                    <perm [value]="permAccount" (change)="permAccountChanged($event)" [name]="pageAccount" [disabled]="!is_edit"></perm>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>perm_identity</mat-icon>
                    <h4 matLine>Roles</h4>
                    <perm [value]="permRole" (change)="permRoleChange($event)" [name]="pageRole" [disabled]="!is_edit"></perm>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>perm_device_information</mat-icon>
                    <h4 matLine>Devices</h4>
                    <perm [value]="permDevice" (change)="permRoleChange($event)" [name]="pageDevice" [disabled]="!is_edit"></perm>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>error</mat-icon>
                    <h4 matLine>Alerts</h4>
                    <perm [value]="permAlert" (change)="permRoleChange($event)" [name]="pageAlert" [disabled]="!is_edit"></perm>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>place</mat-icon>
                    <h4 matLine>Geozones</h4>
                    <perm [value]="permGeozone" (change)="permRoleChange($event)" [name]="pageGeozone" [disabled]="!is_edit"></perm>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>
