@mixin global-style ($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .fill-remain-space {
    flex: 1 1 auto;
  }

  .flex-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
  }

  .toolbar-button {
    margin-left: 10px!important;
  }

  .content-form {
    background: #fff;
    border-radius: 1px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }


  .content-card {
    min-height:200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .list-card {
    margin: 10px;
    min-height: 300px;
  }
  .list-table {
    width: 100%;
    th {
      text-align: left;
    }
  }

  .full-width {
    width: 100%;
  }

  .full-height {
    height: 100%;
  }

  .input-item {
    min-width: 300px;
    width: 33%;
  }

  .inside-toolbar-input {
    font-size: 14px;
    .mat-icon-button {
      height: 28px;
      width: 28px;
      line-height: 28px;
    }
    .mat-icon {
      vertical-align: middle;
    }
  }


  //-- for spinner
  .spinner {
    display: table;
    width: 100%;
    height: 100%;
    top:0;
    text-align: center;
    position: absolute;
    overflow: hidden;
    >span {
      display: table-cell;
      vertical-align: middle;

    }
    .center {
      margin: auto;
    }
  }

  .page-center {
    z-index: 1000;
    background-color: white;
    opacity: 0.9;
    display: table;
    width: 100%;
    height: 100%;
    top:0;
    text-align: center;
    position: absolute;
    overflow: hidden;
    >span {
      display: table-cell;
      vertical-align: middle;

    }
    >form {
      display: table-cell;
      vertical-align: middle;

    }
    .center {
      margin: auto;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: invert(mat-color($background, background, 0.05));
  }
  ::-webkit-scrollbar-thumb {
    background-color: invert(mat-color($background, background, 0.2));
  }

  .x-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    .x-header {
      min-height: 64px;
      display: flex;
      padding-left: 16px;
      padding-right: 16px;
      flex-direction: row;
      font-size: 20px;
      align-items: center;
    }
    .mat-form-field {
      font-size: 14px;
    }
  }

  .x-dialog-close-btn {
    float: right;
  }

  .table-container {
    display: flex;
    overflow-x: auto;
  }
  .mat-table {
    display: table!important;
    width: 100%;
    > .mat-header-row, > .mat-row {
      display: table-row;
      width: 100%;
      padding: 0;
      border: none;
      > .mat-header-cell, > .mat-cell {
        display: table-cell;
        height: 50px;
        padding-left: 8px;
        padding-right: 8px;
        vertical-align: middle;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }
    }
    .mat-header-row {
      text-transform: uppercase;
      font-weight: 600;
    }

    .mat-sort-header-button {
      text-transform: uppercase;
      font-weight: 600;
    }

    .mat-column-actions {
      min-width: 84px;
    }
  }
}
