<mat-toolbar>
    <mat-form-field class="inside-toolbar-input">
        <input matInput type="text"
               #searchKey
               value=""
               i18n-placeholder placeholder="Enter for search device">
    </mat-form-field>
    <a mat-icon-button *ngIf="searchKey.value" (click)="searchKey.value=''">
        <mat-icon>clear</mat-icon>
    </a>
    <span class="fill-remain-space"></span>
    <button mat-raised-button color="primary" routerLink='add'>
        <mat-icon>add</mat-icon>
        <span i18n>Add New Device</span>
    </button>
</mat-toolbar>
<mat-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="toggleColumn">
        <mat-header-cell *cdkHeaderCellDef class="device-header toggle-column">#</mat-header-cell>
        <mat-cell *cdkCellDef="let device" class="toggle-column">
            <mat-slide-toggle [checked]="device.isActive" (change)="toggle(device.deviceID)"></mat-slide-toggle>
        </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="deviceInfo">
        <mat-header-cell *cdkHeaderCellDef class="device-header"> Device Information </mat-header-cell>
        <mat-cell *cdkCellDef="let device;">
            <div class="display-name">
                <a [routerLink]="['.', device.deviceID]" [queryParams]="{action: 'view'}">{{device.displayName}}</a>
            </div>
            <div>{{device.uniqueID}}</div>
            <div *ngIf="device.simPhoneNumber">
                <mat-icon class="info-icon">sim_card</mat-icon>
                <span>{{device.simPhoneNumber}}</span>
            </div>

        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="deviceExpired">
        <mat-header-cell *cdkHeaderCellDef="" class="device-header">Expired at</mat-header-cell>
        <mat-cell *cdkCellDef="let device">
            <div>{{(device.expirationTime> 0) ? (device.expirationTime * 1000 | date: 'short') : "No expire"}}</div>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="notes">
        <mat-header-cell *cdkHeaderCellDef="" class="device-header">Notes</mat-header-cell>
        <mat-cell *cdkCellDef="let device">
            <div>{{device.notes}}</div>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
        <mat-header-cell *cdkHeaderCellDef="" class="device-header">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let device">
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteDialog(device)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
              [length]="100"
              [pageIndex]="0"
              [pageSize]="25"
              [pageSizeOptions]="[25, 50, 100]">
</mat-paginator>