<div mat-dialog-title>
    <span *ngIf="data.id" i18n>Modifying Device</span>
    <span *ngIf="data.id==null" i18n>Creating Device</span>
    <span> #{{data.deviceId}}</span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>

<div mat-dialog-content>
    <form>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Name" name="dev-name" [(ngModel)]="data.name">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Device ID" name="dev-device-id" [(ngModel)]="data.deviceId" [disabled]="data.id">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="80">
                    <mat-form-field class="full-width">
                        <input type="text"  placeholder="Company" aria-label="Company" matInput [formControl]="companyControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let company of filteredCompanies | async" [value]="company">
                                {{company.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div fxFlex="80">
                    <mat-form-field class="full-width">
                        <mat-select [multiple]="true"
                                    placeholder="Accounts"
                                    [(ngModel)]="accountIds"
                                    name="Account List">
                            <mat-option *ngFor="let acc of accountList | async"
                                        [value]="acc.id">{{acc.accountId}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field class="full-width">
                <input matInput i18n-placeholder placeholder="Vehicle" name="dev-vehicle-id" [(ngModel)]="data.vehicleId">
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="IP Address" name="dev-ip-address" [(ngModel)]="data.ipAddress">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Port" name="dev-port" [(ngModel)]="data.port">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Protocol" name="dev-port" [(ngModel)]="data.protocol">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input type="text" i18n-placeholder placeholder="Status" aria-label="Status" matInput [formControl]="statusControl" [matAutocomplete]="autoStatus">
                        <mat-autocomplete #autoStatus="matAutocomplete">
                            <mat-option *ngFor="let status of filteredStatus | async" [value]="status">
                                {{status}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div fxFlex="50">
                    <mat-form-field>
                        <input matInput
                               [matDatepicker]="picker"
                               placeholder="Expired On"
                               [(ngModel)]="dateExpired"
                               name="Expired On">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Serial Number" name="dev-serial-number" [(ngModel)]="data.serialNumber">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Model Name" name="dev-model-name" [(ngModel)]="data.modelName">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Firmware Version" name="dev-firmware-version" [(ngModel)]="data.firmwareVersion">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Manufacturer Name" name="dev-manufacturer-name" [(ngModel)]="data.manufacturerName">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder placeholder="Original Country" name="dev-original-country" [(ngModel)]="data.originalCountry">
                    </mat-form-field>
                </div>
            </div>
        </div>


        <mat-divider></mat-divider>
        <mat-form-field class="full-width">
            <mat-select [multiple]="true"
                        placeholder="Alerts"
                        [(ngModel)]="alertIds" name="Alert List">
                <mat-option *ngFor="let alert of alertProfileList | async"
                            [value]="alert.id">{{alert.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onSave()" i18n>Save</button>
    <button mat-button (click)="cancel()" i18n>Cancel</button>
</div>
