<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened="true" class="mat-elevation-z3">
        <mat-nav-list role="list">
            <mat-list-item role="listitem">
                <mat-icon matListIcon>account</mat-icon>
                <a matLine routerLink="_account">Account</a>
            </mat-list-item>

            <mat-list-item role="listitem" *showIfRole="'lord,system-admin'">
                <mat-icon matListIcon>company</mat-icon>
                <a matLine routerLink="_company">Company</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-icon matListIcon>device</mat-icon>
                <a matLine routerLink="_device">Device</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>vehicle</mat-icon>
                <a matLine routerLink="_device">Vehicle</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>vehicle</mat-icon>
                <a matLine routerLink="_driver">Driver</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>geozone</mat-icon>
                <a matLine routerLink="_geozone/list">Geozone</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>bell</mat-icon>
                <a matLine routerLink="_alert">ALert</a>
            </mat-list-item>
            <mat-list-item role="listitem" *showIfRole="'lord'">
                <mat-icon matListIcon>role</mat-icon>
                <a matLine routerLink="_privilege">Privilege</a>
            </mat-list-item>
            <mat-list-item role="listitem" *showIfRole="'lord'">
                <mat-icon matListIcon>role</mat-icon>
                <a matLine routerLink="_dcs">Dcs</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
