<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened="true" class="mat-elevation-z3">
        <mat-nav-list role="list">
            <mat-list-item role="listitem">
                <mat-icon matListIcon>account</mat-icon>
                <a matLine routerLink="_account">Account</a>
            </mat-list-item>

            <mat-list-item role="listitem" *showIfRole="'vd5lord,sysadmin'">
                <mat-icon matListIcon>company</mat-icon>
                <a matLine routerLink="_company">Company</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-icon matListIcon>contact</mat-icon>
                <a matLine routerLink="contact">Contacts</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-icon matListIcon>vehicle</mat-icon>
                <a matLine routerLink="_device">Manage Devices</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>account</mat-icon>
                <a matLine routerLink="_driver">Manage Driver</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>geozone</mat-icon>
                <a matLine routerLink="_geozone">Geofence</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>bell</mat-icon>
                <a matLine routerLink="_alert">ALert Profile</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
