@import '../../../assets/variables';

@mixin main-admin-component($theme) {
  .mat-sidenav {
      width: $side-nav-width;
      max-width: 350px;
      .side-nav-menu {
          overflow-y: auto;
      }
  }
}

