<md-toolbar>
    <md-input-container class="inside-toolbar-input">
        <input mdInput type="text"
               #searchKey
               value=""
               i18n-placeholder placeholder="Enter for search group">
    </md-input-container>
    <a md-icon-button *ngIf="searchKey.value" (click)="searchKey.value=''">
        <md-icon>clear</md-icon>
    </a>
    <span class="fill-remain-space"></span>
    <button md-raised-button color="primary" routerLink='add'>
        <md-icon>add</md-icon>
        <span i18n>Add New Group</span>
    </button>
</md-toolbar>
<div class="spinner" *ngIf="loading">
    <span>
        <md-progress-spinner
                class="center"
                mode="indeterminate"
                color="primary">
        </md-progress-spinner>
    </span>
</div>

<md-card class="list-card" *ngIf="!loading">
    <md-card-title-group>
        <md-card-title>
            <div>
                <span>Total Devices</span>
                <span>#{{deviceList && deviceList.length}}</span>
            </div>
        </md-card-title>
        <md-card-subtitle>
            <span>Active</span>
            <span>#{{deviceActive}}</span>
        </md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
        <table class="list-table" cellspacing="0">
            <tr>
                <th>#</th>
                <th>Device ID</th>
                <th>Unique ID</th>
                <th>Display Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let device of deviceList">
                <td>
                    <md-slide-toggle color="primary" [(ngModel)]="device.isActive" (change)="toggle(device.deviceID)"></md-slide-toggle>
                </td>
                <td>{{device.deviceID}}</td>
                <td>{{device.uniqueID}}</td>
                <td>{{device.displayName}}</td>
                <td>{{device.description}}</td>
                <td>
                    <button md-icon-button (click)="editDevice(device.deviceID)">
                        <md-icon>edit</md-icon>
                    </button>
                    <button md-icon-button (click)="openDeleteDialog(device)" color="warn">
                        <md-icon>delete</md-icon>
                    </button>
                </td>
            </tr>
        </table>
    </md-card-content>
</md-card>