<div *ngIf="isLoading" class="page-center">
    <span>
        <md-progress-spinner
                class="center"
                mode="indeterminate"
                color="primary">
        </md-progress-spinner>
    </span>
</div>
<md-sidenav-container class="side-nav-container">
    <md-sidenav mode="side" opened="true" align="end">
        <form>
            <!--<table cellspacing="0" class="table-search-device">-->
                <!--<tr>-->
                    <!--<td *ngIf="inputSearch">-->
                        <!--<button md-icon-button (click)="clearSearch()"><md-icon>close</md-icon></button>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="text" [(ngModel)]="inputSearch" name="searching" [mdAutocomplete]="auto" [formControl]="stateCtrl">-->
                        <!--<md-autocomplete #auto="mdAutocomplete">-->
                            <!--<md-option *ngFor="let event of liveEvents | async" [value]="event.displayName">-->
                                <!--{{ event.displayName }}-->
                            <!--</md-option>-->
                        <!--</md-autocomplete>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->

            <md-input-container class="map-search-device">
                <md-icon mdPrefix>{{inputSearch ? 'close' : 'search'}}</md-icon>
                <input mdInput name="searching-device-input" [(ngModel)]="inputSearch">
            </md-input-container>
        </form>
        <md-nav-list dense>
            <md-list-item *ngFor="let event of liveEvents">
                <md-icon md-list-icon [color]="event.isActive? 'primary' : ''">brightness_1</md-icon>
                <a md-line (click)="selectAnEvent(event)">{{ event.displayName }}</a>
                <div md-line>Test</div>
            </md-list-item>
        </md-nav-list>
        <table *ngIf="selectedEvent && inputSearch" class="table-device-detail">
            <tr>
                <td i18n>Device ID</td>
                <td>{{selectedEvent.deviceID}}</td>
            </tr>
        </table>
    </md-sidenav>

    <div class="sidenav-content">
        <div id="mapid" class="main-map"></div>
    </div>
</md-sidenav-container>