<div fxLayout="row" class="geozone-main">
    <div fxFlex="20" class="geozone-list">
        <div class="filter">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <button mat-icon-button color="primary" matTooltip="Create New Geofence" (click)="showDrawToolbar(true)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div class="geozone-items">
            <mat-list>
                <mat-list-item *ngFor="let item of geofenceList">
                    <div (click)="selectGeofence(item)" class="geo-item">
                        <div matLine>
                            <span>{{item.name}}</span>
                            <div class="align-right">
                                <button mat-icon-button class="small" (click)="editGeofence(item)"><mat-icon color="accent">edit</mat-icon></button>
                                <button mat-icon-button class="small" (click)="deleteGeofence($event, item)"><mat-icon color="warn">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div fxFlex="80" class="geo-detail">
        <div id="geo-map-id" class="geo-detail-map"></div>
        <div class="geo-detail-info-container" *ngIf="showDetails">
            <mat-toolbar>
                <span>Geofence: {{selectedGeofence.name}}</span>
                <span class="fill-remain-space"></span>
                <button mat-flat-button (click)="saveCurrentGeofence()" i18n>Save</button>
                <button mat-flat-button i18n>Cancel</button>
                <button mat-flat-button (click)="editGeofence()" i18n>Edit</button>
                <button mat-icon-button (click)="showGeofenceDetails(false)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <div class="geo-detail-info">
                <div fxLayout="row" fxLayoutGap="16px">
                    <div fxFlex="33" class="geo-detail-info-fields">
                        <form class="">
                            <div fxLayout="column">
                                <mat-form-field fxFlex="100">
                                    <input matInput placeholder="Geofence Name" [(ngModel)]="selectedGeofence.name" name="geofence-name" [disabled]="!newOrEdit">
                                </mat-form-field>
                                <mat-form-field fxFlex="100">
                                    <input matInput placeholder="Address" [(ngModel)]="selectedGeofence.address" name="geofence-address" [disabled]="!newOrEdit">
                                </mat-form-field>
                                <mat-form-field fxFlex="100">
                                    <input matInput type="number" placeholder="Max Speed" [(ngModel)]="selectedGeofence.maxSpeedKPH" name="geofence-maxspeed" [disabled]="!newOrEdit">
                                </mat-form-field>

                                <mat-checkbox [(ngModel)]="selectedGeofence.privateArea" name="geofence-pri-area" [disabled]="!newOrEdit">Private Zone</mat-checkbox>
                                <mat-checkbox [(ngModel)]="selectedGeofence.reverseGeocode" name="geofence-rev-code" [disabled]="!newOrEdit">Reverse Geocode</mat-checkbox>
                            </div>
                        </form>
                    </div>
                    <div fxFlex="67" class="geo-detail-coordinates">
                        <form>
                            <mat-form-field>
                                <input matInput placeholder="Type" [(ngModel)]="type" name="geofence-type" disabled>
                            </mat-form-field>
                            <div *ngIf="isCircle()">
                                <div>
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Radius (m)" [(ngModel)]="radius" name="geofence-coor-rad" [disabled]="!newOrEdit">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Center Latitude" [(ngModel)]="coordinates[0]" name="geofence-coor-lat" [disabled]="!newOrEdit">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Center Longitude" [(ngModel)]="coordinates[1]" name="geofence-coor-lon" [disabled]="!newOrEdit">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div *ngIf="isPolygon()">
                                <div *ngFor="let coor of coordinates; let i = index">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Latitude # {{i}}" [(ngModel)]="coor[0]" name="geofence-poly-lat-{{i}}" [disabled]="!newOrEdit">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Latitude # {{i}}" [(ngModel)]="coor[1]" name="geofence-poly-lat-{{i}}" [disabled]="!newOrEdit">
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
