.geozone-main {
  height: 100%;
}

.geozone-list {
  min-width: 250px;
  max-width: 250px;
  margin-right: 0!important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.geozone-items {
  height: 100%;

  overflow-y: auto;
}

.geo-detail {
  height: 100%;
  display: flex;
  flex-direction: column;

}

.geo-detail-map {
  height: 100%;
}

.geo-detail-info {
  background-color: #449fdb;
  height: 100%;
}
